@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
   box-shadow: -4px -2px 11px 0px rgba(238, 239, 255, 1);
}

/* 

--card-border-radius: 1.5em;
    --grid-outline-color: var(--chakra-colors-gray-200);
    --body-font: "Montserrat";
    --heading-font: "Barlow";
    --heading-font-weight: 700;
    --body-font-weight: 400;
    --accent-color: #4B54FF;
    --accent-gradient-background: linear-gradient(135deg, #cfdbfcff 10%, #e3cffcff 90%);
    --accent-color-border: #999effff;
    --accent-color-background-muted: #e5e7ffff;
    --accent-color-100: #cccfffff;
    --accent-gradient: linear-gradient(135deg, #396AF1 10%, #A665F6 90%);
    --expandable-hover-background: #4b54ff1a;
    --link-color: #4B54FF;
    --link-color-hover: #7e84ffff;
    --body-color: #272525;
    --body-color-muted: #27252580;
    --body-color-inverted: #fff;
    --link-color-inverted: #fff;
    --highlight-color-dark: var(--body-color-inverted);
    --highlight-color-light: var(--body-color);
    --heading-color: #396AF1;
    --heading-gradient: linear-gradient(135deg, #396AF1 10%, #A665F6 90%);
    --line-height-body: 1.6;
    --line-height-heading: 1.25;
    --card-color: #EEEFF5;
    --card-color-mask: #eeeff5d9;
    --link-box-shadow: 0 0 0px 3px #4b54ffff;
    --shape-border-image-svg: url(#theme-accent-gradient-linear);
    --shape-bg-image-svg: url();
    --md-shadow: 0 0.25em 0.375em -0.0625em rgba(0, 0, 0, 0.1), 0 0.125em 0.25em -0.0625em rgba(0, 0, 0, 0.06);
    --line-thickness: 0.45em;
    --card-border-color: var(--chakra-colors-gray-200);
    --card-border: 0.0625em solid var(--card-border-color);
    --card-border-shadow: 0 0 0 0.0625em var(--card-border-color);
    --clickable-background-color: #e1e2e899;
    --box-border-radius: 1em;
    --shape-bg-color: #EEEFF5;
    --shape-border-color: #b2b5e5ff; */
